# ===== ENV =====
.env
.env.local
.env.development
.env.production

# ===== NODE =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== VITE / REACT =====
dist/
dist-ssr/
.vite/

# ===== BUILD =====
build/

# ===== SYSTEM FILES =====
.DS_Store
Thumbs.db

# ===== IDE / EDITORS =====
.vscode/
.idea/
*.swp

# ===== LOG FILES =====
logs/
*.log
